*{
    margin: 0;
    padding: 0;
}
.nav{
    background-color: bisque;
}
ul{
    display:  flex;
   
}
ul li{
    list-style: none;
    padding: 22px;
}
.container{
    background-color: rgb(143, 139, 132);
}