#box{
    background-color: blue;
    color:white;
}
/* .heading{
    background-color: yellow;
    color:red;

} */
 
#btn{
    background-color: green;
    color:white;
}
p{
    text-align: justify;
}

a{
    text-decoration: none;
}
#h1{
    font-weight:  150;;
}
#h2{
    font-weight: 250;
}
#h3{
    font-weight: 900;
}