*{
    margin: 0;
    padding: 0;
}
:root{
    --color:rgb(90, 90, 196);
    --seccolor:rgb(158, 248, 85);
    --defpad : 23px;
    --defop: 0.2;
}
.nav{
    background-color: var(--color);
}
ul{
    display:  flex;
   
}
ul li{
    opacity: var(--defop);
    list-style: none;
    padding: var(--defpad);
    border: 2px solid var(--seccolor);
}
ul li:first-child{
 s
    --color:rgb(201, 78, 47);
    background-color: var(--color,blue);
}
.container{
    background-color: var(--seccolor,yellow);
}