.bg{
    background-color: rgb(233, 229, 229);
    width: 400px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box{
    width: 330px;
    height: 700px;
    background-color: white;
    border: 2px solid white;
    border-radius: 3%;
    display: flex;
    justify-content: center;
  
   

}
.img{
    background-image: url(man.jpg);
    width: 350px;
    height: 330px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 3%;
    position: relative;
    top: 7px;
}
button{
    background-color: white;
    height: 22px;
    width: 60px;
    position: relative;
    top: 350px;
    right: 250px;
    border-color: rgb(233, 229, 229);
   
    border-radius: 30px;
    
}